{% extends "layout.html" %}

{% block content %}
  <div class="page-header">
    <h1>Projects</h1>
    <a href="{{ url_for('project_add')}}">Add new</a>
  </div>

  <!-- flash any messages we may have -->  
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div {% if category == 'message' %} class="alert alert-success alert-dismissable" {% else %} class="alert alert-{{category}} alert-dismissable" {%endif%} role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}  

  <table class="table">
    <thead>
      <tr>
        <th>Project Code</th>
        <th>Project Name</th>
        <th>Client</th>
        <th>Project Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
      <tr>
        <td>{{ project.project_code }}</td>
        <td>{{ project.project_name }}</td>
        <td>{{ project.client.client_short_name }}</td>
        <td>{{ project.status.status }}</td>
        <td><a href="{{ url_for('project_update', id=project.project_id) }}">Edit</a> <a href="{{ url_for('project_delete', id=project.project_id) }}">Delete</a></td>        
        {#
        <td>{{ comment.pub_date.strftime("%H:%M:%S %d/%m/%Y") }}</td>
        #}
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}