{% extends "layout.html" %}

{% block content %}
	<div class="page-header">
		<h1>Mileage</h1>
		<a href="{{ url_for('show_mileage',this_year=2012) }}">2012</a>
		<a href="{{ url_for('show_mileage',this_year=2013) }}">2013</a>
		<a href="{{ url_for('show_mileage',this_year=2014) }}">2014</a>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>Vehicle</th>
				<th>Start</th>
				<th>End</th>
				<th>Journey</th>
				<th>Project</th>
				<th>Purpose</th>
			</tr>
		</thead>
		<tbody>
			{% for miles in mileage %}
			<tr>
				<td>{{ miles.journey_date }}</td>
				<td>{{ miles.vehicle.registration }}</td>
				<td>{{ miles.start_km }}</td>
				<td>{{ miles.end_km }}</td>
				<td>{{ miles.journey }}</td>
				<td>{{ miles.project.project_code }}</td>
				<td>{{ miles.purpose }}</td>
				{#
				<td>{{ comment.pub_date.strftime("%H:%M:%S %d/%m/%Y") }}</td>
				#}
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
